[submodule "Milk/vendor/spdlog"]
    path = Milk/vendor/spdlog
    url = https://github.com/gabime/spdlog
[submodule "Milk/vendor/GLFW"]
	path = Milk/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Milk/vendor/imgui"]
	path = Milk/vendor/imgui
	url = https://github.com/TheCherno/imgui
